<div class="custom-centred">
  <img class="custom-centred" src="https://img.itch.zone/aW1nLzExNjgxNjYyLmdpZg==/original/LXNQiQ.gif">
</div>
  
<p>
  Your cat basil is sick! Collect ingredients from the forest to brew the cure.
  This was my submission to the 2023 Love2D game jam.
</p>
<blockquote>
  The web version of the game takes a long time to parse the world map. If
  you're having persistent issues try out the builds for Windows or Linux, or
  the love file included with this project
</blockquote>

<div class="custom-centred">
  <img class="custom-centred" src="https://img.itch.zone/aW1nLzExNTc3ODg2LmdpZg==/original/byTDzz.gif"/>
</div>

<p>
  <strong>Goal: </strong>Brew the elixir of life to save your cat basil. You
  will need to brew several potions before hand to get past the hurdles.<br />
</p>
<p><strong>Controls: </strong><br /></p>
<ul>
  <li>Move with WSAD</li>
  <li>Pickup rocks and cut logs with Space</li>
  <li>Interact with the UI to see recipes and brew potions</li>
</ul>
<p>
  <strong>Note:</strong> You will need to brew the Essence Of Strength to lift
  rocks, the Cause Of Death to pass through fallen logs and, the Mixture of
  Levitation to cross fords.
</p>

<div class="custom-centred">
  <img class="custom-centred" src="https://img.itch.zone/aW1nLzExNTc3ODY2LmdpZg==/original/xIrd%2FJ.gif"/>
</div>

<p><strong>Brewing a Potion:</strong></p>
<ul>
  <li>
    To brew a potion you first have to collect all the requisite ingredients.
    You can see what ingredients are needed by clicking on the potion you want
    to brew on the left. Your stock of ingredients is visible on the right . If
    you have all the ingredients in stock all you have to do is click the brew
    button. The abilities granted by the potions take effect immediately.
  </li>
  <li>
    To see the potion or ingredient names just hover your mouse over the icon.
  </li>
  <li>
    For example if I want to brew the Essence of Strength, the potion required
    to lift small rocks, I would first need to collect a carrot, hemp and nut.
  </li>
  <li>
    Once these are collected I can click the brown potion bottle on the left to
    pop open the Essence of Strength mixer page and brew it. Once it's brewed I
    can double back and pick up that rock I saw by the house.
  </li>
</ul>
<p>
  <strong>Note: </strong>Only the Essence of Strength, Cause of Death, Mixture
  of Levitation, and Elixir of Life potions have an effect in game.
</p>

<div class="custom-centred">
<img class="custom-centred" src="https://img.itch.zone/aW1nLzExNTc0MDc1LmdpZg==/original/ehSp%2FX.gif" />
</div>
<div class="custom-caption">How to brew and use the Essence of Strength</div>

<p>
<strong>Source: </strong>The source code for Potions is
released under the GPL3+ Licence and the art is available under the CC-BY
licence. Both are available at
<a href="https://gitlab.com/alexjgriffith/potions"> https://gitlab.com/alexjgriffith/potions</a>
</p>

